table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
  }
  
.tasks th, .tasks td {
      padding: 8px;
      border: 1px solid #ccc;
      text-align: left;
  }
  
  
.form-container {
    margin-bottom: 20px;
}
  